#habilidades .skill__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* responsiveness */

@media (max-width: 1024px) {
  #habilidades .skill__container {
    grid-template-columns: 100%;
  }
  #habilidades .skill__container .skill__card {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  #habilidades .skill__content {
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  #habilidades .skill__container {
    gap: 1rem;
  }
  #habilidades .skill__container .skill__card {
    width: 100%;
    padding: 2rem 1rem;
  }
}
